h1{text-align: center;}


body {
    background-image: url('./assets/pexels-miguel-á-padriñán-255379.jpeg');
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }